/* shared styles */

header
/* header styles */

.header {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    align-items: center;
    width: 1320px;
    height: 600px;
    margin: auto;
}

.header-text {
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
}

.wish {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 100px;
}

.party {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding-top: 50px;
}



/* styles for main part */

.offer {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

#off1 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#off2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

/* welcome to party */

.midnight-party {
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    margin: auto;
}

#greeting {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    padding-left: 126px;
}

#party-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    padding-left: 126px;
}

#join1 {
    color: rgb(255, 246, 167);
    text-decoration: none;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-left: 126px;
}

.year {
    align-items: center;
    padding-left: 50px;
}


#event-des {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 105px;
    padding-bottom: 105px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
}

.text1 {
    color: #F00;
}

#btn1 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #FFF;
    display: inline-flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.button1 {
    background-color: #F00;
    border-radius: 16px;
    margin-top: 30px;
}



/*offer promotion 1 */
.offer-promo1 {
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
}

#promo1 {
    padding: 100px;
}

#promo-text1 {
    color: #F00;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#promo-text2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
}

#promo-text3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 400px;
}

#image2 {
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: #F00;
    border-radius: 10000px;
    border-style: solid;
    border-width: 15px;
}

#promo2 {
    padding: 100px;
}

#promo-text4 {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 276px;
}

#image3 {
    width: 140px;
    height: 140px;
}

#promo-text5 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

/* 6th part */
.sale {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
}

#what {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

#holiday-sale {
    color: #F00;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}

#hs1 {
    color: black;
}

#holiday-text {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding-left: 100px;
    padding-right: 100px;
}


#element1 {
    display: flex;
    align-items: center;
    background-image: url('../resources/Rectangle\ 2.png');
    background-position: 50% 100%; 
    width: 1320px;
    background-repeat: no-repeat;

}

#img4 {
    width: 796.463px;
    height: 662.07px;
}

#img5 {
    width: 429px;
    height: 433px;
    position: relative;
    bottom: 100px;
    z-index: -1;
}

#img6{
    position: absolute;
    top: 40%;
    left: 55%;
}